{% extends "../base.html" %}

{% block title %}{{ name }}{% end %}
{% block main %}
  <h1>{{ name }}</h1>
  <img alt="" src="{{ url }}"/>
  <p>{{ desc or "" }}</p>
  <ul id="tags">
    {% for tag in tags %}
    <li>
      <a href="/tags/{{ tag['name'].replace(' ', '+') }}">
        {{ tag['name'] }}
      </a>
    </li>
    {% end %}
    <li>
      <form id="newtag">
        <input aria-label="New Tag Name" id="name-input" name="name" type="text"/>
        <input id="submit-button" type="submit" value="Add Tag"/>
      </form>
    </li>
  </ul>
  <script>
    function display() {
      var items = JSON.parse(this.responseText);
      var newTag = document.getElementById('newtag').parentNode;
      var tagList = document.getElementById('tags');
      tagList.innerHTML = '';
      for (var i = 0; i < items.length; i++) {
        var name = items[i];
        var listItem = document.createElement('li');
        listItem.innerHTML = '<a href="/tags/' +
          encodeURIComponent(name).replace(/%20/g, '+') +
          '">' + name + '</a>';
        tagList.appendChild(listItem);
      }
      tagList.appendChild(newTag);
      document.getElementById('name-input').focus();
    }

    function submitNewTag(event) {
      event.preventDefault();

      var name = document.getElementById('name-input').value.trim();
      if (name == '') return;
      var dataString = 'name='+name;

      document.getElementById('name-input').value = '';

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/images/{{ image_key }}/tags/new', true);
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
      xhr.onload = display;
      xhr.send(dataString);
    }

    var form = document.getElementById('newtag');
    form.addEventListener('submit', submitNewTag);
  </script>
{% end %}
