<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}Imp{% end %}</title>
  <style>
    html { background: white; }
    img { max-width: 100%; }
    nav, main { max-width: 1000px; margin: 0 auto; }
    ul { padding: 0; list-style-type: none; }
    nav li, #tags li { display: inline-block; margin-right: 10px; }
  </style>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/tags">Tags</a></li>
      <li><a href="/categories">Categories</a></li>
    </ul>
  </nav>
  <main>
    {% block main %}
    {% end %}
  </main>
</body>
</html>
